In [4]:
import numpy as np
import pandas as pd

In [5]:
bus_bts = pd.read_csv('./datas/bus_bts.csv')

In [9]:
bus_bts_df = pd.DataFrame(bus_bts)

In [10]:
bus_bts_df.drop_duplicates(subset=['user_card_id'])

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409317,5.365101e+15,23620000,149797095,2019-10-16,10:14:31,443,제주한라대학교,NaN,NaN,NaN,NaN,1,1
2409329,5.365101e+15,31480000,149793434,2019-10-16,09:43:45,537,진평연립입구,NaN,NaN,NaN,NaN,1,1
2409350,4.092160e+15,23220000,149797049,2019-10-16,10:40:49,9,노형우체국,NaN,NaN,NaN,NaN,1,1
2409355,1.040010e+15,23250000,149797049,2019-10-16,08:15:10,367,대기고등학교,NaN,NaN,NaN,NaN,1,1
2409385,1.040110e+15,23250000,149797049,2019-10-16,08:28:51,1393,화북휴먼시아,NaN,NaN,NaN,NaN,1,1

AttributeError: 'DataFrame' object has no attribute 'summarize'